

.room {
	width: 150px;
  height: 150px;
  margin: 40px;
  border-radius: 20px;
  display: inline-block;
  border: 4px solid deepskyblue;
  color: deepskyblue;
  text-align: center;
  margin: 20px 0;
}

button.join {
  -webkit-appearance: none;
  font-size: 28px;
  padding: 15px 28px;
  border-radius: 50px;
  border: 4px solid deepskyblue;
  background: transparent;
  color: deepskyblue;
  margin: 40px auto;
  width: 340px;
  display: block;
}

button:hover {
  border-color: white;
  color: white;
}