

#messaging {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: calc(100% - 374px);
  color: white;
  background: #333;
  padding-top: 8px;
  overflow: scroll;
}

#messaging.black {
  background: #333;  
}

#messaging.white {

}

#message-input {
  position: fixed;
  width: 100%;
  margin-top: -8px;
  margin-bottom: 8px;
  border-bottom: 1px dotted white;
}

h2 {
	color: white;
}

input {
  -webkit-appearance: none;
  background: #333;
  padding: 10px 15px;
  color: white;
  display: block;
  font-size: 20px;
  width: calc(100% - 30px);
  border: none;
}

input:focus {
  outline: none;
}
 
#message-input button {
	position: absolute;
  top: 3px;
  right: 7px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxOHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyMyAxOCIgd2lkdGg9IjIzcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9IkNvcmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00MjEuMDAwMDAwLCAtMzgxLjAwMDAwMCkiPjxnIGlkPSJzZW5kIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MjEuNTAwMDAwLCAzODEuMDAwMDAwKSI+PHBhdGggZD0iTTAsMTggTDIxLDkgTDAsMCBMMCw3IEwxNSw5IEwwLDExIEwwLDE4IFoiIGlkPSJTaGFwZSIvPjwvZz48L2c+PC9nPjwvc3ZnPg==');
  background-size: 66%;
  background-position: 10px 10px;
  cursor: pointer;
  -webkit-filter: invert(1);
  background-repeat: no-repeat;
}

#message-input button:focus {
  outline: none;
}

#messaging p {
  padding: 5px 15px;
  margin: 0;
  font-size: 14px;
  font-style: italic;
}

#users {
	position: absolute;
  top: 0px;
  left: 133px;
  width: calc(100% - 133px);
  text-align: center;
  padding: 7px 0;
}

#users .user {
  font-size: 15px;
  font-weight: bold;
  display: block;
  width: calc(100% - 8px);
  height: 19px;
  text-align: left;
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
}

#users .user.black:before {
  content: " ";
  background: black;
  width: 14px;
  height: 14px;
  float: left;
  font-size: 0px;
  margin: 2px 6px 0px 0px;
  border-radius: 50%;
}

#users .user.white:before {
  content: " ";
  background: white;
  width: 14px;
  height: 14px;
  float: left;
  font-size: 0px;
  margin: 2px 6px 0px 0px;
  border-radius: 50%;
}

#users .user.black {
  color: black;
}

#users .user.white {
  color: white;
}


